{% trans_default_domain 'MyProfile' %}

<div class="container">
    <div class="columns is-multiline is-mobile is-centered">
        <div>
            <figure class="column image is-128x128">
                <object class="is-rounded object-image"
                        data="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ app.user.getProfileImage() }}">
                    <img class="is-rounded"
                         src="{{ bucket_dns ~ '/' ~ bucket_name ~ '/users/user-image-default.jpg' }}">
                </object>
            </figure>
        </div>

        <div class="column is-12 has-text-centered">
            <h1 class="title has-text-white">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </h1>
            <h4 class="buttons is-centered">
                <a href="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ app.user.getCurriculumPath() ~ 'en.pdf' }}"
                   target="_blank" class="button is-small is-light">
					<span class="icon is-spaced">
						<i class="fa fa-file-download"></i>
					</span>
                    <span>{{ 'navegation.cv_download_en'|trans }}</span>
                </a>
                <a href="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ app.user.getCurriculumPath() ~ 'pt_BR.pdf' }}"
                   target="_blank" class="button is-small is-light">
					<span class="icon is-spaced">
						<i class="fa fa-file-download"></i>
					</span>
                    <span>{{ 'navegation.cv_download_pt_BR'|trans }}</span>
                </a>
            </h4>
        </div>
    </div>
</div>
