

{% set current_router = app.request.attributes.get('_route') %}

<div class="tabs is-boxed is-centered">
	<div class="container">
		<ul>
			{% if 'profile_edit' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_edit') }}#main" id="main">
					<span class="icon is-small">
						<i class="fa fa-id-card"></i>
					</span>
					<span>{{ 'navegation.main' | trans }}</span>
				</a>
			</li>

			{% if 'profile_user-social-network_index' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_user-social-network_index') }}#usersocialnetworking" id="usersocialnetworking">
					<span class="icon is-small">
						<i class="fa fa-comment"></i>
					</span>
					<span>{{ 'navegation.social_network' | trans }}</span>
				</a>
			</li>

			{% if 'profile_education' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_education_index') }}#education" id="education">
					<span class="icon is-small">
						<i class="fa fa-mortar-board"></i>
					</span>
					<span>{{ 'navegation.education' | trans }}</span>
				</a>
			</li>

			{% if 'profile_experience' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_experience_index') }}#experience" id="experience">
					<span class="icon is-small">
						<i class="fa fa-book"></i>
					</span>
					<span>{{ 'navegation.experience' | trans }}</span>
				</a>
			</li>

			{% if 'profile_certification' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_certification_index') }}#certification" id="certification">
					<span class="icon is-small">
						<i class="fa fa-certificate"></i>
					</span>
					<span>{{ 'navegation.certification' | trans }}</span>
				</a>
			</li>

			{% if 'user_language' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_user_language_index') }}#language" id="language">
					<span class="icon is-small">
						<i class="fa fa-language"></i>
					</span>
					<span>{{ 'navegation.languages' | trans }}</span>
				</a>
			</li>

			{% if 'skill' in current_router %}
			<li class="is-active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ path('profile_skill_index') }}#skill" id="skill">
					<span class="icon is-small">
						<i class="fa fa-rocket"></i>
					</span>
					<span>{{ 'navegation.skills' | trans }}</span>
				</a>
			</li>
		</ul>
	</div>
</div>
