{% trans_default_domain 'MyProfile' %}
{% set current_router = app.request.attributes.get('_route') %}
{% set current_locale = app.request.get('_route_params')['_locale'] %}

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a href="{{ path('app_profile', {'slug': app.user.slug }) }}" class="navbar-item">
			<span class="icon is-spaced">
				<i class="fa fa-globe"></i>
			</span>
			<span>Site</span>
		</a>

		<a href="{{ path('profile_generate_curriculum') }}" class="navbar-item">
			<span class="icon is-spaced">
				<i class="fa fa-sync-alt"></i>
			</span>
			<span>{{'navegation.update_cv'|trans}}</span>
		</a>


		<a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					<span class="icon is-spaced">
						<i class="fa fa-globe"></i>
					</span>
					<span>{{'navegation.languages'|trans}}</span>
				</a>

				<div class="navbar-dropdown">
					<a href="{{path('profile_edit', {'_locale': 'en'}) }}" class="navbar-item {% if 'en' == current_locale %} is-active {% endif %}">
						{{'language.english'|trans}}
					</a>
					<a href="{{path('profile_edit', {'_locale': 'pt_BR'}) }}" class="navbar-item {% if 'pt_BR' == current_locale %} is-active {% endif %}">
						{{'language.portuguese'|trans}}
					</a>
				</div>
			</div>

			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_socialnetworking_index') }}" class="navbar-item">
					<div class="icon">
						<i class="fa fa-user-shield"></i>
					</div>
					<span>{{'navegation.social_network'|trans}}</span>
				</a>


				<a href="{{ path('admin_user_index') }}" class="navbar-item">
					<div class="icon">
						<i class="fa fa-user-shield"></i>
					</div>
					<span>{{'navegation.users_list'|trans}}</span>
				</a>
			{% endif %}

			<a href="{{path('fos_user_change_password')}}" class="navbar-item">
				<span class="icon is-spaced">
					<i class="fa fa-key"></i>
				</span>
				<span>{{'navegation.change_password'|trans}}</span>
			</a>

			<a href="{{path('fos_user_security_logout')}}" class="navbar-item">
				<span class="icon is-spaced">
					<i class="fa fa-sign-out-alt"></i>
				</span>
				<span>{{'navegation.sign_out'|trans}}</span>
			</a>
		</div>
	</div>
</nav>
