{% extends 'profile/base.html.twig' %}
{% trans_default_domain 'MyProfile' %}

{% block title 'form.certification.head.title'|trans %}
{% block body %}
    {% if data %}
        <div class="columns is-multiline">
            <div class="column is-2 is-offset-10">
                {% include "profile/partial/form/button.html.twig" with {
                    'path': path('profile_certification_new'),
                    'name': 'form.submit.new'|trans,
                    'icon': 'fa fa-plus',
                } %}
            </div>
            <div class="column is-full">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>{{ 'form.certification.title'|trans }}</th>
                        <th class="is-hidden-touch">{{ 'form.certification.institution'|trans }}</th>
                        <th class="is-hidden-touch">{{ 'form.certification.start_period'|trans }}</th>
                        <th class="is-hidden-touch">{{ 'form.certification.end_period'|trans }}</th>
                        <th class="is-hidden-touch">{{ 'form.certification.image'|trans }}</th>
                        <th>{{ 'form.default.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for certification in data %}
                        {% set path = path('profile_certification_edit', { 'id': certification.id }) %}
                        <tr>
                            <td>{{ certification.title }}</td>
                            <td class="is-hidden-touch">{{ certification.institution }}</td>
                            <td class="is-hidden-touch">{% if certification.periodStart %}{{ certification.periodStart|date('d/m/Y') }}{% endif %}</td>
                            <td class="is-hidden-touch">{% if certification.periodEnd %}{{ certification.periodEnd|date('d/m/Y') }}{% endif %}</td>
                            <td class="is-hidden-touch">
                                {% if certification.image %}
                                    <figure class="image is-32x32">
                                        <img class="is-rounded" src="{{ certification.image }}" />
                                    </figure>
                                {% endif %}
                            </td>
                            <td>
                                {% include "profile/partial/form/button.html.twig" with {
                                    'path': path,
                                    'icon': 'fa fa-pencil',
                                    'class': 'is-text edit',
                                } %}

                                {% include "profile/partial/form/delete_button.html.twig" with {
                                    'router': 'profile_certification_delete',
                                    'id': certification.id,
                                } %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include "profile/partial/form/empty_list.html.twig" with {
            'path': path('profile_certification_new')
        } %}
    {% endif %}
{% endblock %}

