{% extends 'profile/base.html.twig' %}
{% trans_default_domain 'MyProfile' %}

{% block title %}{{'form.language.head.title'|trans}}{% endblock %}

{% block body %}
    {% if data %}
        <div class="columns is-multiline">
            <div class="column is-2 is-offset-10">
                {% include "profile/partial/form/button.html.twig" with {
                    'path': path('profile_user_language_new'),
                    'name': 'form.submit.new'|trans,
                    'icon': 'fa fa-plus',
                    'id': 'add-button'
                } %}
            </div>
            <div class="column is-full">
                <table class="table is-fullwidth" id="table-list">
                    <thead>
                    <tr>
                        <th>{{ 'form.language.name'|trans }}</th>
                        <th>{{ 'form.language.level'|trans }}</th>
                        <th>{{ 'form.default.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for language in data %}
                        {% set path = path('profile_user_language_edit', { 'id': language.id }) %}
                        <tr>
                            <td class="identify is-hidden">{{ language.id }}</td>
                            <td>{{ language.name }}</td>
                            <td>{{ language.level }}</td>
                            <td class="table-list-actions">
                                {% include "profile/partial/form/button.html.twig" with {
                                    'path': path,
                                    'icon': 'fa fa-pencil',
                                    'class': 'is-text edit edit-button',
                                } %}

                                {% include "profile/partial/form/delete_button.html.twig" with {
                                    'router': 'profile_user_language_delete',
                                    'id': language.id,
                                } %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include "profile/partial/form/empty_list.html.twig" with {
            'path': path('profile_user_language_new')
        } %}
    {% endif %}
{% endblock %}
