{% extends 'base_profile.html.twig' %}

{% block container_profile %}
    <h1>Experiences list</h1>

    <table class="table table-hover"Registar>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Period_start</th>
                <th>Period_end</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td><a href="{{ path('user_experience_show', { 'id': experience.id }) }}">{{ experience.id }}</a></td>
                <td>{{ experience.title }}</td>
                <td>{{ experience.company }}</td>
                <td>{% if experience.periodstart %}{{ experience.periodstart|date('d/m/Y') }}{% endif %}</td>
                <td>{% if experience.periodend %}{{ experience.periodend|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_experience_show', { 'id': experience.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_experience_edit', { 'id': experience.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_experience_new') }}">Create a new experience</a>
        </li>
    </ul>
{% endblock %}
