{% extends 'base.html.twig' %}
{% trans_default_domain 'MyProfile' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('web-site') }}
{% endblock %}

{% block body %}

  <section class="hero is-transparent is-fullheight" id="homepageHero">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <p class="title has-text-white">My profile</p>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="{{ path('app_homepage', {'_locale': 'pt_BR'}) }}">Português</a>
              <a class="navbar-item" href="{{ path('app_homepage', {'_locale': 'en'}) }}">English</a>
              <span class="navbar-item">
              <a class="button is-primary is-inverted is-outlined" href="{{ path('fos_user_security_login') }}">
                <span>{{ 'security.login.submit'|trans({}, 'FOSUserBundle')}}</span>
              </a>
            </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered-mobile">
        <div class="columns">
          <div class="column is-three-fifths">
            <h2 class="title is-1 has-text-white">
              {{ 'site.title_message' | trans }}
            </h2>
            <p class="subtitle has-text-centered-mobile mt-6">
              <a href="{{ path('fos_user_registration_register') }}" class="button is-medium is-primary is-inverted is-outlined">{{ 'navegation.registration' | trans }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container is-fullheight mt-6">
    <p class="subtitle is-2 has-text-centered-mobile">{{ 'default.last_registrations' | trans }}</p>
    <div class="columns is-multiline is-mobile is-centered">
      {% for user in users %}
        <a
                class="column is-narrow {% if loop.index > 6 %}is-hidden-mobile{% endif %}"
                href="{{ path('app_profile', {'slug': user.slug}) }}"
                title="{{ user.getFirstName() }} {{ user.getLastName() }}">
          {% include 'component/image.html.twig' with {
            'url': cdn_dns ~ '/' ~ bucket_name ~ '/' ~ user.getProfileImage(),
            'urlDefault': cdn_dns ~ '/' ~ bucket_name ~ '/users/user-image-default.webp'
          } %}
        </a>
      {% endfor %}
    </div>
  </section>

  <footer class="footer has-background-dark has-text-white">
    <div class="content has-text-centered">
      <p>
        &copy; 2017 - {{ "now" | date('Y') }} My profile. All Rights Reserved.
      </p>
      <div class="buttons is-centered">
        <div class="">
          <a href="mailto:contato@myprofile.pro" class="button is-primary is-outlined">
            <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
        <div class="">
          <a href="https://github.com/eerison/myprofile" class="button is-primary is-outlined" target="_blank">
            <i class="icon-github fa-2x"></i>
          </a>
        </div>
        <div class="">
          <a href="https://www.jetbrains.com" class="button is-primary is-outlined" target="_blank">
            <span class="icon-jetbrains fa-2x"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
          </a>
        </div>
        <div class="">
          <a href="https://sentry.io" class="button is-primary is-outlined" target="_blank">
            <i class="icon-sentry fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('main') }}
{% endblock %}