{% extends 'security/base_form.html.twig' %}

{% block title 'page.title.login'| trans %}

{% set title = 'security.login.title' %}
{% set message = 'security.login.message' %}
{% set icon = '<i class="fa fa-user-circle fa-5x"></i>' %}

{% block security_form %}

    <div class="columns is-multiline is-marginless">
        <div class="column">
            <form method="post" role="login">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label required">{{ 'user.email'|trans }}</label>
                            <div class="control has-icons-left">
                                <input type="text" id="inputEmail" name="email" value="{{ last_username }}"
                                       required="required" class="input" autofocus>
                                <span class="icon is-small is-left">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label required">{{ 'user.password'|trans }}</label>
                            <div class="control has-icons-left">
                                <input type="password" id="inputPassword" name="password" value="{{ last_username }}"
                                       required="required" class="input">
                                <span class="icon is-small is-left">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox" for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>
                    </div>
                </div>


                {% if error %}
                    <div class="columns">
                        <div class="column is-12">
                            <span class="is-text has-text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                        </div>
                    </div>
                {% endif %}

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <button type="submit" id="_submit" name="_submit"
                                    class="button is-primary">{{ 'security.login.submit'|trans }}</button>
                            <a href="{{ path('app_register') }}"
                               class="button is-text">{{ 'security.registration.submit'| trans }}</a>
                            <a href="{{ path('fos_user_resetting_request') }}"
                               class="button is-text">{{ 'security.reset_password.submit' | trans }}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
