{% extends 'security/base.html.twig' %}

{% block title 'page.title.login'| trans %}
{% set title = 'security.login.title' %}
{% set message = 'security.login.message' %}
{% set icon = '<i class="fa fa-user-circle fa-5x"></i>' %}

{% block security_content %}

    <div class="columns">
        <div class="column">
            <form action="{{ path('app_auth_third_party') }}" method="post">
                <input type="hidden" name="token" value="{{ csrf_token('third-party-login') }}"/>

                {% include 'component/_button.html.twig' with {
                    button : {
                        'type': 'submit',
                        'class': 'is-fullwidth is-primary',
                        'name': 'security.login.third_party.google_button',
                        'icon': 'fab fa-google',
                        'link': path('app_auth_third_party')
                    }
                } %}
            </form>

{#            {% if app.environment == 'dev' %}#}
{#                <div class="notification is-primary is-full">#}
{#                    <button class="delete"></button>#}
{#                    <div class="is-size-6 mb-3">You can use one of the users in <strong>fixtures/users.yaml</strong></div>#}
{#                    <div><i class="fa fa-user"></i> e.g: <strong>test@myprofile.pro</strong></div>#}
{#                </div>#}
{#            {% endif %}#}
{#            <form method="post" role="login">#}
{#                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

{#                <div class="columns">#}
{#                    <div class="column">#}
{#                        <div class="field">#}
{#                            <label class="label required">{{ 'user.email'|trans }}</label>#}
{#                            <div class="control has-icons-left">#}
{#                                <input type="text" id="inputEmail" name="email" value="{{ last_username }}"#}
{#                                       required="required" class="input" autofocus>#}
{#                                <span class="icon is-small is-left">#}
{#                                                <i class="fa fa-user" aria-hidden="true"></i>#}
{#                                            </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                {% if error %}#}
{#                    <div class="columns">#}
{#                        <div class="column is-12">#}
{#                            <span class="is-text has-text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}

{#                <div class="columns">#}
{#                    {% include 'component/_buttons.html.twig' with {#}
{#                        buttons : [#}
{#                            {#}
{#                                'type': 'submit',#}
{#                                'name': 'security.login.submit'#}
{#                            },#}
{#                        ]#}
{#                    } %}#}
{#                </div>#}

{#            </form>#}
        </div>
    </div>

{% endblock %}
