{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('profile_edit'), 'attr': { 'class': 'profile_edit' } }) }}

    <div class="row">
        <!-- profile image -->
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <object data="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ app.user.getProfileImage()}}" style="width:150px">

                    <!-- default image -->
                    <img src="{{ bucket_dns ~ '/' ~ bucket_name ~ '/users/user-image-default.jpg'}}" alt="profile image" style="width:150px">
                </object>
                <div class="text-center">
                    {{ form_widget(form.profile_image) }}
                    {{ form_errors(form.profile_image) }}
                </div>
            </div>
        </div>

        <!-- background image -->
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <object data="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ app.user.getBackgroundImage() }}" style="width:150px">
                    <!-- default image -->
                    <img src="{{ bucket_dns ~ '/' ~ bucket_name ~ '/users/user-image-default.jpg'}}" alt="profile image" style="width:150px">
                </object>
                <div class="text-center">
                    {{ form_widget(form.background_image) }}
                    {{ form_errors(form.background_image) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
