{% extends 'profile/base.html.twig' %}

{% block body %}
    <h1>Socialnetworkings list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socialNetworking in socialNetworkings %}
            <tr>
                <td><a href="{{ path('admin_socialnetworking_show', { 'id': socialNetworking.id }) }}">{{ socialNetworking.id }}</a></td>
                <td>{{ socialNetworking.name }}</td>
                <td>{{ socialNetworking.icon }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_socialnetworking_show', { 'id': socialNetworking.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_socialnetworking_edit', { 'id': socialNetworking.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_socialnetworking_new') }}">Create a new socialNetworking</a>
        </li>
    </ul>
{% endblock %}
