<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Criação de sites profissionais e curriculum vitae grátis">
        <meta name="keywords" content="sites profissionais,curriculum,resume,vitae,grátis,my profile,meu site">
        <meta name="author" content="My Profile">
        <title>My profile - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets
            'assets/bootstrap4/css/bootstrap.min.css'
            'assets/css/font-awesome.min.css'
            filter='cssrewrite' output='compiled/css/base.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('assets/images/ico/favicon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}">

        <!-- google Adsense -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2280017530957932",
                enable_page_level_ads: true
            });
        </script>
    </head>
    <body>

        {% include 'default/partials/flashmessages.html.twig' %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
            'assets/js/jquery.js'
            'assets/bootstrap4/js/bootstrap.bundle.min.js'
            output='compiled/js/base.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
