<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block description %}Criação de sites profissionais e seu curriculo em poucos minutos{% endblock %}">
        <meta name="keywords" content="{% block keywords %}sites profissionais,curriculo,resume,fazer curriculo,gratis,my profile,meu site,modelo,modelo de curriculo,modelo de curriculo 2018,modelo de curriculo 2019{% endblock %}">
        <meta name="author" content="My Profile">
        <title>{% block title %}Welcome!{% endblock %} | My profile</title>
        {% block stylesheets %}

            {% stylesheets
            'assets/bootstrap4/css/bootstrap.min.css'
            'assets/css/font-awesome.min.css'
            filter='cssrewrite' output='compiled/css/base.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('assets/images/ico/favicon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124183493-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-124183493-1');
        </script>

    </head>
    <body>

        {% include 'default/partials/flashmessages.html.twig' %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
            'assets/js/jquery.js'
            'assets/bootstrap4/js/bootstrap.bundle.min.js'
            output='compiled/js/base.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
