{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}

<div class="columns">
    <div class="column is-6">
        <div class="field">
            {{ form_label(form.first_name) }}
            <div class="control has-icons-left">
                {{ form_widget(form.first_name, {'attr': {'class': 'input'}}) }}
                <span class="icon is-small is-left">
					<i class="fa fa-user"></i>
				</span>
                {{ form_errors(form.first_name) }}
            </div>
        </div>
    </div>

    <div class="column is-6">
        <div class="field">
            {{ form_label(form.last_name) }}
            <div class="control has-icons-left">
                {{ form_widget(form.last_name, {'attr': {'class': 'input'}}) }}
                <span class="icon is-small is-left">
					<i class="fa fa-user"></i>
				</span>
                {{ form_errors(form.last_name) }}
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="field">
            {{ form_label(form.username) }}
            <div class="control has-icons-left">
                {{ form_widget(form.username, {'attr': {'class': 'input'}}) }}
                <span class="icon is-small is-left">
					<i class="fa fa-user"></i>
				</span>
                {{ form_errors(form.username) }}
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="field">
            {{ form_label(form.email) }}
            <div class="control has-icons-left">
                {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
                <span class="icon is-small is-left">
					<i class="fa fa-envelope"></i>
				</span>
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="field">
            {{ form_label(form.plainPassword.first) }}
            <div class="control has-icons-left">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input'}}) }}
                <span class="icon is-small is-left">
					<i class="fa fa-lock"></i>
				</span>
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="field">
            {{ form_label(form.plainPassword.second) }}
            <div class="control has-icons-left">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input'}}) }}
                <span class="icon is-small is-left">
					<i class="fa fa-lock"></i>
				</span>
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="field">
            <button type="submit" class="button is-primary">{{ 'registration.submit'|trans }}</button>
            <a href="{{ path('fos_user_security_login') }}"
               class="button is-text">{{ 'security.login.submit'|trans }}</a>
        </div>
    </div>
</div>

{{ form_end(form) }}
