{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}


<div class="field">
	<label class="label">{{ form_label(form.username) }}</label>
	<div class="control has-icons-left">
		{{ form_widget(form.username, {'attr': {'class': 'input'}}) }}
		<span class="icon is-small is-left">
			<i class="fa fa-user"></i>
		</span>
		<p class="help is-danger">{{ form_errors(form.username) }}</p>
	</div>
</div>

<div class="field">
	<label class="label">{{ form_label(form.email) }}</label>
	<div class="control has-icons-left">
		{{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
		<span class="icon is-small is-left">
			<i class="fa fa-envelope"></i>
		</span>
		<p class="help is-danger">{{ form_errors(form.email) }}</p>
	</div>
</div>

<div class="field">
	<label class="label">{{ form_label(form.plainPassword.first) }}</label>
	<div class="control has-icons-left">
		{{ form_widget(form.plainPassword.first, {'attr': {'class': 'input'}}) }}
		<span class="icon is-small is-left">
			<i class="fa fa-lock"></i>
		</span>
		<p class="help is-danger">{{ form_errors(form.plainPassword.first) }}</p>
	</div>
</div>

<div class="field">
	<label class="label">{{ form_label(form.plainPassword.second) }}</label>
	<div class="control has-icons-left">
		{{ form_widget(form.plainPassword.second, {'attr': {'class': 'input'}}) }}
		<span class="icon is-small is-left">
			<i class="fa fa-lock"></i>
		</span>
		<p class="help is-danger">{{ form_errors(form.plainPassword.second) }}</p>
	</div>
</div>

<div class="field">
	<button type="submit" class="button is-primary">{{ 'registration.submit'|trans }}</button>
	<a href="{{ path('fos_user_security_login') }}" class="button is-text">{{ 'security.login.submit'|trans }}</a>
</div>

{{ form_end(form) }}
