{% extends 'base_profile.html.twig' %}

{% block container_profile %}
    <h1>Certification</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ certification.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ certification.title }}</td>
            </tr>
            <tr>
                <th>Periodstart</th>
                <td>{% if certification.periodStart %}{{ certification.periodStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Periodend</th>
                <td>{% if certification.periodEnd %}{{ certification.periodEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ certification.institution }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ certification.link }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ certification.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_certification_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_certification_edit', { 'id': certification.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
