{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName ~ ' ' ~ user. lastName }}{% endblock %}

{% block description %}{{ user.headline }}{% endblock %}

{% block keywords %}{{ user.keyWords }}{% endblock %}
{% block metaTags %}
    <meta property="og:title" content="{{ user.firstName ~ ' ' ~ user. lastName }}" />
    <meta property="og:image" content="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ user.getProfileImage()}}">
    <meta property="og:url" content="{{app.request.schemeAndHttpHost ~ path('app_profile', { 'slug': user.slug}) }}">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('web_site_profile') }}
{% endblock %}

{% block body %}
    <!-- Preloader -->
    <div id="tt-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
    {% include 'default/partials/home.html.twig' %}
    {% include 'default/partials/navegation.html.twig' %}
    {% include 'default/partials/about.html.twig' %}
    {# include 'default/partials/hire.html.twig' #}
    {% include 'default/partials/resume.html.twig' %}
    {% include 'default/partials/skills.html.twig' %}
    {# include 'default/partials/works.html.twig' #}
    {# include 'default/partials/hire.html.twig' #}

    <!-- Footer Section -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p>2017 - {{ "now" | date('Y') }} &copy; <a href="https://www.myprofile.pro" target="_blank">My Profile</a></p>
                        <p><a href="https://github.com/eerison/myprofile" target="_blank"> <i class="fab fa-github fa-2x"></i> </a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer Section -->


    <!-- Scroll-up -->
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('web_site_profile') }}
{% endblock %}
