<div class="resume">
    <ul class="timeline">
        {% for experience in user.experiences %}
            <li class="{{ cycle(['', 'timeline-inverted'], loop.index0) }}">
                <div class="posted-date">
                    <span class="month">
                        {{ experience.getPeriodStart() | date('m/Y') }} -
                        {% if experience.getPeriodEnd() %}
                            {{ experience.getPeriodEnd() | date('m/Y') }}
                        {% else %}
                            present
                        {% endif %}
                    </span>
                </div><!-- /posted-date -->

                <div class="timeline-panel wow fadeInUp">
                    <div class="timeline-content">
                        <div class="timeline-heading">
                            <h3>{{ experience.title }}</h3>
                            <span>{{ experience.company }}</span>
                        </div><!-- /timeline-heading -->

                        <div class="timeline-body">
                            <p>{{ experience.description }}</p>
                        </div><!-- /timeline-body -->
                    </div> <!-- /timeline-content -->
                </div><!-- /timeline-panel -->
            </li>
        {% endfor %}
    </ul>
</div>