

{% set current_router = app.request.attributes.get('_route') %}
{% set icon = 'pencil' %}
{% set name = 'form.submit.edit'|trans %}
{% set back_path = back_path|default(false) %}

{% if 'new' in current_router %}
	{% set icon = 'plus' %}
	{% set name = 'form.submit.new'|trans %}
{% endif %}

<div class="columns is-mobile">
    {% if back_path %}
	<div class="column is-2-tablet is-offset-8-tablet is-6-mobile">
		<a href="{{back_path}}" class="button is-danger is-fullwidth">
			<span class="icon">
				<i class="fa fa-chevron-left"></i>
			</span>
			<span>{{'form.submit.back'|trans}}</span>
		</a>
	</div>

	<div class="column is-2-tablet is-6-mobile">
    {% else %}
    <div class="column is-2-tablet is-offset-10-tablet is-12-mobile">
    {% endif %}
		<button type="submit" class="button is-primary is-fullwidth" id="{{ id|default('submit-button') }}">
			<span class="icon">
				<i class="fa fa-{{icon}}"></i>
			</span>
			<span>{{ name }}</span>
		</button>
	</div>
</div>
