{% extends 'base_profile.html.twig' %}

{% block container_profile %}
    <h1>Education</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ education.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ education.title }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ education.institution }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ education.description }}</td>
            </tr>
            <tr>
                <th>Period_start</th>
                <td>{% if education.periodstart %}{{ education.periodstart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Period_end</th>
                <td>{% if education.periodend %}{{ education.periodend|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_education_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_education_edit', { 'id': education.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
