{% trans_default_domain 'MyProfile' %}

<section id="about" class="about-section section-padding scrollspy">
    <div class="section">
        <div class="container">
            <h2 class="section-title wow fadeInUp">{{ 'about.about' | trans }}</h2>

            <div class="columns">

                <div class="column is-8">
                    <div class="short-info wow fadeInUp">
                        <h3>{{ 'about.objective' | trans }}</h3>
                        <p>{{ user.summary }}</p>
                    </div>

                    <div class="short-info wow fadeInUp">
                        <ul class="list-check">
                            {% for skill in user.skills | slice(0,4) %}
                                <li>{{ skill.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="download-button">
                        <div class="field is-grouped">
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button aria-haspopup="true" aria-controls="dropdown-menu2" class="button is-orange is-medium dropdown-toggle has-white-text">
                                        <span class="icon">
                                          <i class="fa fa-download"></i>
                                        </span>
                                        <span>{{ 'default.download_resume' | trans }}</span>
                                        <span class="icon is-small">
                                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                                    <div class="dropdown-content">
                                        <a href="{{ cdn_dns ~ '/' ~ bucket_name ~ '/' ~ user.getCurriculumPath() ~ 'en.pdf'}}" class="dropdown-item is-dark" target="_blank">English</a>
                                        <a href="{{ cdn_dns ~ '/' ~ bucket_name ~ '/' ~ user.getCurriculumPath() ~ 'pt_BR.pdf'}}" class="dropdown-item" target="_blank">Português</a>
                                    </div> <!-- /.dropdown-content -->
                                </div> <!-- /.dropdown-menu -->
                            </div> <!-- /.dropdown -->
                        </div>
                    </div> <!-- /.download-button -->
                </div> <!-- /.column.is-8 -->

                <div class="column is-4">
                    <div class="biography">
                        <div class="myphoto">
                            <object data="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ user.getProfileImage()}}" id="image">

                                <!-- default image -->
                                <img src="{{ cdn_dns ~ '/' ~ bucket_name ~ '/users/user-image-default.webp'}}" alt="profile image" id="image">
                            </object>
                        </div>
                        <ul>
                            <li><strong>{{ 'about.name' | trans}}:</strong> {{ user.getFirstName() }} {{ user.getLastName() }}</li>
                            <li><strong>{{ 'about.country' | trans}}:</strong> {{ user.country }}</li>
                            <li><strong>{{ 'about.email' | trans}}:</strong> {{ user.email }}</li>
                        </ul>
                    </div>
                </div> <!-- /.column.is-4 -->

            </div> <!-- /.columns -->
        </div> <!-- /.container -->
    </div>
</section><!-- End About Section -->
