{% trans_default_domain 'MyProfile' %}

<section id="about" class="about-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">{{ 'about.about' | trans }}</h2>

        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <div class="biography">
                    <div class="myphoto">
                        <img src="{{ app_gravatar.getAvatar(user.email, 400) }}" alt="">
                    </div>
                    <ul>
                        <li><strong>{{ 'about.name' | trans}}:</strong> {{ user.getFirstName() }} {{ user.getLastName() }}</li>
                        <li><strong>{{ 'about.country' | trans}}:</strong> {{ user.country }}</li>
                        <li><strong>{{ 'about.email' | trans}}:</strong> {{ user.email }}</li>
                    </ul>
                </div>
            </div> <!-- col-md-4 -->

            <div class="col-md-8 col-md-pull-4">
                <div class="short-info wow fadeInUp">
                    <h3>{{ 'about.objective' | trans }}</h3>
                    <p>{{ user.summary }}</p>
                </div>

                <div class="short-info wow fadeInUp">
                    <ul class="list-check">
                        {% for skill in user.skills | slice(0,4) %}
                        <li>{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="download-button">
                    <a class="btn btn-info btn-lg" href="#contact"><i class="fa fa-paper-plane"></i>{{ 'default.send_me_message' | trans }}</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-download"></i> {{ 'default.download_resume' | trans }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ cdn_dns ~ '/' ~ bucket_name ~ '/' ~ user.getCurriculumPath() ~ 'en.pdf'}}" target="_blank">English</a></li>
                            <li><a href="{{ cdn_dns ~ '/' ~ bucket_name ~ '/' ~ user.getCurriculumPath() ~ 'pt_BR.pdf'}}" target="_blank">Português</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section><!-- End About Section -->