{% trans_default_domain 'MyProfile' %}
<section id="contact" class="contact-section section-padding scrollspy">
    <div class="section">
        <div class="container">
            <h2 class="section-title wow fadeInUp">{{ 'navegation.contact' | trans }}</h2>

            <div class="columns">
                <div class="column is-12">
                    <div class="contact-form">
                        <strong>{{ 'default.send_me_message' | trans }}</strong>

                        {% form_theme formContact 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(formContact) }}

                        <div class="field">
                            <label for="name">Nome</label>
                            {{ form_widget(formContact.name, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(formContact.name) }}
                        </div>

                        <div class="field">
                            <label for="email">E-mail</label>
                            {{ form_widget(formContact.email, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(formContact.email) }}
                        </div>

                        <div class="field">
                            <label for="subject">Assunto</label>
                            {{ form_widget(formContact.subject, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(formContact.subject) }}
                        </div>

                        <div class="field">
                            <label for="message">Mensagem</label>
                            {{ form_widget(formContact.message, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(formContact.message) }}
                        </div>

                        <div class="field">
                            <button type="submit" name="submit" class="button is-orange">
                            <span class="icon">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </span>
                                <span>
                                {{ 'default.send_message' | trans }}
                            </span>
                            </button>
                        </div>
                        {{ form_end(formContact) }}

                    </div><!-- /.contact-form -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</section><!-- End Contact Section -->
