<section id="home" class="tt-fullHeight scrollspy" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2" style="background: url({{ "https://bucket.myprofile.pro/myprofile-prod/users/e5d3a8a762db6fa77519789443a99c98/background.webp" }}) no-repeat center center">
    <div class="intro">
        <div class="intro-sub">{{ user.getFirstName() }} {{ user.getLastName() }}</div>
        <h1>{{ user.role }}</h1>
        <p>{{ user.headline }}</p>

        <div class="social-icons">
            <ul class="list-inline">
                {% for social in user.getUserSocialNetworks() %}
                    <li>
                        <a href="{{ social.link }}" target="_blank" title="{{ social.social_networking.name }}">
                            <i class="{{ social.social_networking.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="#about">
        <div class="mouse-icon">
            <div class="wheel"></div>
        </div>
    </a>
</section>
