<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2" style="background: url({{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ user.getBackgroundImage()}}) no-repeat center center">
    <div class="intro">
        <div class="intro-sub">{{ user.getFirstName() }} {{ user.getLastName() }}</div>
        <h1>{{ user.role }}</h1>
        <p>{{ user.headline }}</p>

        <div class="columns is-mobile is-centered social-icons">
                {% for social in user.getUserSocialNetworks() %}
                    <div class="column is-narrow">
                        <a href="{{ social.link }}" target="_blank" title="{{ social.socialNetworking.name }}">
                            <i class="{{ social.socialNetworking.icon }}"></i>
                        </a>
                    </div>
                {% endfor %}
        </div>
    </div>

    <a href="#about">
        <div class="mouse-icon is-hidden-touch">
            <div class="wheel"></div>
        </div>
    </a>
</section>
