{% trans_default_domain 'MyProfile' %}

<header class="header">
    <nav class="navbar is-light navbar-custom" role="navigation">
        <div class="container">
            {#        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">#}
            {#            <span class="sr-only">Toggle navigation</span>#}
            {#            <span class="icon-bar"></span>#}
            {#            <span class="icon-bar"></span>#}
            {#            <span class="icon-bar"></span>#}
            {#        </button>#}
            <a class="navbar-brand" href="#home">
                <span class="navbar-item">
                    {{ user.getFirstName() }} {{ user.getLastName() }}
                </span>
            </a>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="#home">{{ 'navegation.home' | trans }}</a>
                    <a class="navbar-item" href="#about">{{ 'navegation.about' | trans }}</a>
                    <a class="navbar-item" href="#resume">{{ 'navegation.resume' | trans }}</a>
                    <a class="navbar-item" href="#skills">{{ 'navegation.skills' | trans }}</a>
                    <!-- <li><a href="#works">{{ 'navegation.portfolio' | trans }}</a></li> -->
                    <a class="navbar-item" href="#contact">{{ 'navegation.contact' | trans }}</a>
                </div>
            </div>
        </div>
    </nav>
</header><!-- End Navigation -->
