{% extends 'profile/base.html.twig' %}
{% trans_default_domain 'MyProfile' %}

{% block title 'form.education.head.title'|trans %}
{% block body %}
	{% if data %}
		<div class="columns is-multiline">
			<div class="column is-2 is-offset-10">
				{% include "profile/partial/form/button.html.twig" with {
					'path': path('profile_education_new'),
					'name': 'form.submit.new'|trans,
					'icon': 'fa fa-plus',
				} %}
			</div>
			<div class="column is-full">
				<table class="table is-fullwidth">
					<thead>
						<tr>
							<th>{{'form.education.title'|trans}}</th>
							<th class="is-hidden-touch">{{'form.education.institution'|trans}}</th>
							<th class="is-hidden-touch">{{'form.education.start_period'|trans}}</th>
							<th class="is-hidden-touch">{{'form.education.end_period'|trans}}</th>
							<th>{{'form.default.actions'|trans}}</th>
						</tr>
					</thead>
					<tbody>
						{% for education in data %}
							{% set path = path('profile_education_edit', { 'id': education.id }) %}
							<tr>
								<td>{{ education.title }}</td>
								<td class="is-hidden-touch">{{ education.institution }}</td>
								<td class="is-hidden-touch">
									{% if education.periodstart %}
										{{ education.periodstart|date('d/m/Y') }}
									{% endif %}
								</td>
								<td class="is-hidden-touch">
									{% if education.periodend %}
										{{ education.periodend|date('d/m/Y') }}
									{% endif %}
								</td>
								<td>
									{% include "profile/partial/form/button.html.twig" with {
										'path': path,
										'icon': 'fa fa-pencil',
										'class': 'is-text edit',
									} %}

									{% include "profile/partial/form/delete_button.html.twig" with {
										'router': 'profile_education_delete',
										'id': education.id,
									} %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		{% include "profile/partial/form/empty_list.html.twig" with {
			'path': path('profile_education_new')
		} %}
	{% endif %}
{% endblock %}
