{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usersocialnetworking</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userSocialNetworking.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ userSocialNetworking.link }}</td>
            </tr>
            <tr>
                <th>rede social</th>
                <td>{{ userSocialNetworking.social_networking }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_usersocialnetworking_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_usersocialnetworking_edit', { 'id': userSocialNetworking.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
