{% extends 'profile/base.html.twig' %}
{% trans_default_domain 'MyProfile' %}

{% block title %}{{'form.skill.head.title'|trans}}{% endblock %}
{% block body %}
    {% if skills %}
        <div class="columns is-multiline">
            <div class="column is-2 is-offset-10">
                {% include "profile/partial/form/button.html.twig" with {
                    'path': path('user_skill_new'),
                    'name': 'form.submit.new'|trans,
                    'icon': 'fa fa-plus',
                } %}
            </div>
            <div class="column is-full">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>{{ 'form.skill.priority'|trans }}</th>
                        <th>{{ 'form.skill.name'|trans }}</th>
                        <th class="is-hidden-touch">{{ 'form.skill.level_experience'|trans }}</th>
                        <th>{{ 'form.default.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for skill in skills %}
                        {% set path = path('user_skill_edit', { 'id': skill.id }) %}
                        <tr>
                            <td>{{ skill.priority }}</td>
                            <td>{{ skill.name }}</td>
                            <td class="is-hidden-touch">{{ skill.levelExperience }}</td>
                            <td>
                                {% include "profile/partial/form/button.html.twig" with {
                                    'path': path,
                                    'icon': 'fa fa-pencil',
                                    'class': 'is-text',
                                } %}

                                {% include "profile/partial/form/delete_button.html.twig" with {
                                    'router': 'user_skill_delete',
                                    'id': skill.id,
                                } %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include "profile/partial/form/empty_list.html.twig" with {
            'path': path('user_skill_new')
        } %}
    {% endif %}
{% endblock %}

