{% extends 'base_profile.html.twig' %}

{% block container_profile %}
    <h1>Skill</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ skill.name }}</td>
            </tr>
            <tr>
                <th>Levelexperience</th>
                <td>{{ skill.levelExperience }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ skill.priority }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_skill_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_skill_edit', { 'id': skill.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
