{% extends 'curriculum/base.html.twig' %}
{% trans_default_domain 'MyProfile' %}
{% block stylesheets_add %}
    {% stylesheets
    'assets/css/curriculum/theme_01/styles.css'
    filter='cssrewrite' output='compiled/css/curriculum_theme01.css'
    %}
    <link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile img-circle" src="{{ app_gravatar.getAvatar(user.email) }}" alt="" />
                <h1 class="name">{{ user.getFirstName() }} {{ user.getLastName() }}</h1>
                <h3 class="tagline">{{ user.role }}</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">{{ user.email }}</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="https://myprofile.pro/{{ user.username }}" target="_blank">myprofile.pro/{{ user.username }}</a></li>
                    {% if user.phone %}<li><i class="fa fa-phone-square"></i>{{ user.phone }}</li>{% endif %}
                    {% if user.cell %}<li><i class="fa fa-mobile"></i>{{ user.cell }}</li>{% endif %}
                    <li><i class="fa fa-address-card"></i> {{ user.city }}, {{ user.state }}, {{ user.country }}</li>

                    {% for social in user.getUserSocialNetworks() %}
                        <li>
                            <a href="{{ social.link }}" target="_blank" title="{{ social.social_networking.name }}">
                                <i class="{{ social.social_networking.icon }}"></i>
                                {{ social.link | replace({'https://': '', 'http://': '', 'www.':''}) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div><!--//contact-container-->

            {# educations #}
            {% if user.educations | length > 0 %}
            <div class="education-container container-block">
                <h2 class="container-block-title">{{ 'curriculum.education' | trans }}</h2>
                {% for education in user.educations %}
                    <div class="item">
                        <h4 class="degree">{{ education.title }}</h4>
                        <h5 class="meta">{{ education.institution }}</h5>
                        <div class="time">
                            {{ education.getPeriodStart() | date('M Y') }} - {{ education.getPeriodEnd() | date('M Y') }}
                        </div>
                    </div><!--//item-->
                {% endfor %}
            </div><!--//education-container-->
            {% endif %}

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            {# about #}
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>{{ 'curriculum.about' | trans }}</h2>
                <div class="summary">
                    <p>{{ user.summary }}</p>
                </div><!--//summary-->
            </section><!--//section-->

            {# certifications #}
            {% if user.certifications | length > 0 %}
            <section class="section certification-section clearfix">
                <h2 class="section-title"><i class="fa fa-certificate"></i>{{ 'curriculum.certifications' | trans }}</h2>

                {% for certification in user.certifications %}
                    <a href="{{ certification.link }}" target="_blank" class="item text-center col-xs-4">
                        <div class="text-primary">
                            {% if certification.image %}
                                <img src="{{ certification.image }}" style="width: 50px;" />
                            {% else %}
                                <i class="fa fa-certificate fa-4x"></i>
                            {% endif %}
                        </div>
                        <div>
                            <strong>{{ certification.title }}</strong>
                            <div>
                                {{ certification.periodStart | date('M Y') }} -
                                {% if certification.periodEnd %}
                                    {{ certification.periodEnd | date('M Y') }}
                                {% else %}
                                    present
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </section><!--//section-->

            {% endif %}

            {# experience #}
            {% if user.experiences | length > 0 %}
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>{{ 'curriculum.experiences' | trans }}</h2>

                {% for experience in user.experiences %}
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">{{ experience.title }}</h3>
                                <div class="time">
                                    {{ experience.getPeriodStart() | date('M Y') }} -
                                    {% if experience.getPeriodEnd() %}
                                        {{ experience.getPeriodEnd() | date('M Y') }}
                                    {% else %}
                                        present
                                    {% endif %}
                                </div>
                            </div><!--//upper-row-->
                            <div class="company">{{ experience.company }}</div>
                        </div><!--//meta-->
                        <div class="details">
                            {{ experience.description }}
                        </div><!--//details-->
                    </div><!--//item-->
                {% endfor %}

            </section><!--//section-->
            {% endif %}

            {# skills #}
            {% if user.skills | length > 0 %}
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>{{ 'curriculum.skills' | trans }}</h2>

                <div class="skillset">
                    {% for skill in user.skills %}
                        <div class="item col-xs-3">
                            <h3 class="level-title">{{ skill.name }}</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.getLevelExperience() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.getLevelExperience() }}%;">
                                    {{ skill.getLevelExperience() }}%
                                </div>
                            </div>
                        </div><!--//item-->
                    {% endfor %}
                </div>

            </section><!--//skills-section-->
            {% endif %}

        </div><!--//main-body-->
    </div>

{% endblock %}