{% extends 'profile/base.html.twig' %}

{% block body %}
    <h1>Users list : {{ users | length }}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Role</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img src="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ user.getProfileImage()}}" class="image is-48x48 is-rounded"/></td>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.gender }}</td>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {%  if user.verified %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-close text-danger"></i>
                    {% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_user_profile', { 'slug': user.slug}) }}" target="_blank">view profile</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_make_pdf', { 'slug': user.slug}) }}">make pdf</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
